#main{
    justify-content: center;
}
#title{
    text-align: center;
}
#img-div{
    text-align: center;
}
#image{
    
    max-width: none;
}
#img-caption{
justify-content: center;
width: 100%
}
ul{
   justify-content:  center;
}
